# App
NEXT_PUBLIC_IMAGE=https://github.com
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Nextauth
NEXTAUTH_SECRET=super_secret
NEXTAUTH_URL=http://localhost:3000

# DB
DB_PROTOCOL=postgresql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=next
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Contabo
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_REGION=
STORAGE_BUCKET=
STORAGE_FORCE_PATH_STYLE=

# SMTP Credentials
SMTP_HOST=your_smtp_host
SMTP_PORT=543
SMTP_SECURE=false
SMTP_USER=no-reply@domain.com
SMTP_PASS=your_smtp_pass
SMTP_SENDER=Sender
SMTP_FROM=no-reply@domain.com